

.gridlines {
  > div {
    width: 460px; 
    margin-left: 20px;
    display: flex; 
    justify-content: space-between;
  }
  article {
    display: flex;
    > div {
      display: flex;
      flex-direction: column;
      height: 480px; position: relative; top: -10px;
    justify-content: space-between;
    margin-right: 10px;

    }
  }
  table {
  &, td, th {
    border: 5px solid $alert;
    border-collapse: collapse;
    padding: 20px;
  }
  div {
    height: 100px; 
    width: 100px; 
    border: 3px solid $colorpop; 
    border-radius: 5px;
  }
}
}