$font: 'SanchezSlab Semibold', Georgia, serif;
$splashcolor: #0000cc;
$text: #333333;
$textsecondary: #4d4d4d;
$invertedtext: #ffffff;
$header_bg: #ffffff;
$light_bg: #f4f4f4;
$dark_bg: #333;
$colorpop: #0000cc;