
[contenteditable] {
	-webkit-user-modify: read-write-plaintext-only;
}

head, style {
	display: block;
}
head * {visibility:hidden;}

html, body {margin: 0;}
body {
	font-size: 1.75em;
}
style[id="editme" i],
style[class="editme" i]  {
	visibility: visible;
	padding: 20px; 
	font-size: 1.5em; 
	font-family: monospace; 
	white-space:pre; 
	border-radius: 10px; 
	border: 3px solid #aaa; 
	background-color:#dedede; 
	margin: 20px auto; 
	width: 80%; 
	font-family:"Courier New", Courier, monospace;
}