#presentation {
  background: linear-gradient(to bottom, #9de89d, #3b6c3b)
}
pre b, strong {
  color: #3b6c3b;
  text-shadow: #9de89d 0 0 1px;
  font-weight: bold;
}
code {color: inherit;}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
.textmask, h1, a {
    background: linear-gradient(to bottom, #9de89d, #3b6c3b);
    -webkit-background-clip: text;
    background-clip: text;
    color: #3b6c3b;
  }
