#presentation {
  background: linear-gradient(to bottom, lime, green)
}
pre b, strong, code {
  color: green;
  text-shadow: lime 0 0 1px;
  font-weight: bold;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
.textmask, h1, a {
    background: linear-gradient(to bottom, lime, green);
    -webkit-background-clip: text;
    background-clip: text;
    color: darkgreen;
  }
