#presentation {
	background: linear-gradient(to bottom, 
		#36f, #63f);
}

@supports (-webkit-background-clip: text){
.textmask, h1, a{
    background:
        linear-gradient(to bottom, #47f, #63f);
		-webkit-background-clip: text;
		background-clip: text;
		color: rgba(0,0,0,0);
    }
}
/* INTRO TO GENERATED CONTENT */
.beforeafter::before {
  	content: "before content - ";
  }
.beforeafter::after{
	content: " - after content";
  }
.beforeafter:before,
.beforeafter:after {font-weight: bold;}

/* GENERATED CONTENT: 2 FREE FAUX ELEMENTS */
.beforeafterdivcont {position:relative;}
.beforeafterdiv,
.beforeafterdiv:before,
.beforeafterdiv:after,
.beforeafterdiv i {
	height: 200px;
	content: "";
	border: 1px solid blue;
	position:relative;
	background-color: red;
	transform: none;
	display:inline-block;
	box-shadow:3px 3px rgba(0,0,0,0.2),-3px -3px rgba(0,0,0,0.2), ;
	margin: 5px;
  font-size: 3rem;
}

.beforeafterdiv:before {
	content: "before";
	background-color: green;
	margin-right: -50px;
	color: #fff;
	transform: translatez(15px);
}
.beforeafterdiv:after {
	content: "after";
	background-color: blue;
	margin-left: -50px;
	color: #fff;
	transform: translatez(5px);
	}
.beforeafterdiv i {
	background-color: yellow;
}
/* GENERATED CONTENT : LINKS */
.ba li {
	list-style-type: none; 
	margin-bottom: 20px;}
.ba a:before {
  color: #ffffff;
  background: #000000;
  font-size: 120%;
  padding: 2px 5px;
  display: inline-block;
  width: 1.2em;
  margin-right: 10px;
  text-align: center;
}
.ba a[href^="mailto:"]:before {
  content: "\2709 ";
}
.ba a[href^="tel:"]:before {
  content: "\2706";
}
.ba a[href$="vcs"]:before {
  content: "\231A";
}

/* GENERATED CONTENT -- QUOTES */
blockquote.gc p:before, blockquote.gc p:after {
  font-size: 2em;
  color: #C7573A;
  line-height: 0;
  vertical-align: middle;
}
blockquote.gc p:first-child:before {
  content: "\275D";
  margin: 0 5px 0 -48px;
}
blockquote.gc p:last-child:after {
  content: "\275E";
  margin: 0 -40px 0 5px;
}

/* THOUGHT BUBBLE & QUOTE */
.quote {
	border-radius: 10px;
	position:relative;
	padding: 20px;
	background-color: red;
	color: white;
}
.quote:after {
	position:absolute;
	content: '';
	width: 0;
	height:0;
	border: 20px solid blue;
	border-color: red transparent transparent transparent;
	bottom: -39px;
	left: 20px;
}

.thought {
	border-radius: 50%;
	border: 5px solid blue;
	background-color: white;
	float: right;
	position:relative;
	padding: 40px;
	background-color: #fff;
	overflow:visible;
	margin-bottom: 80px;
}
.thought:before,
.thought:after {
	content: '';
	border: 5px solid blue;
	border-radius: 50%;
	position:absolute;
	left: 20%;
	bottom: -30px;
	width: 40px;
	height: 40px;
	background-color: #fff;
}
.thought:after {
	height: 20px;
	width: 20px;
	bottom: -50px;
	left: 12%;
}

/* TOOL TIP */
p [data-tooltip="true"] {
	border-bottom: 1px solid;
	text-decoration:none;
	line-height:1;
	display:inline;
	z-index: 0;
}
p [data-tooltip="true"]:hover {
	position: relative;
	}
p [data-tooltip="true"]:hover:before {
	content: attr(title);
	position: absolute;
	top: 45px;
	left: 0;
	background-color: #C7573A;
	color: white;
	max-width: 10em;
	min-width: 5em;
	font-style: normal;
	padding: 5px;
	border-radius: 10px;
	text-align:center;
	z-index: 100;
}
p [data-tooltip="true"]:hover:after {
	content: "";
	position:absolute;
	top: 1.1rem;
	border: 15px solid;
	position: absolute; left: 20px;
	border-color:  transparent transparent #C7573A ;
}

.d3 {
	transform: perspective(500px) rotateY(40deg);
	margin: 20px auto;

}
.attribute a[href^=http]:hover {
   position: relative;
}
.attribute a[href^=http]:hover:after {
   content: attr(href);
   position: absolute;
   top: 1em;
   left: 0;
   background-color: black;
   color: white;
   padding: 3px 5px;
   line-height:1;
}
/* brown: C7573A;*/