
.code {
   color: $text;
   font-size: 85%;
   background-color: rgba(255,255,255,0.4);
   transition: all 2s ease-in 50ms;
}
.code:hover {
   color: $splashcolor;
   background-color: rgba(255,255,255,0.9);
}
.code:not(.code2):hover {
   font-size: 120%;
}
.code2:hover {
  transform: scale(1.4);
  transform-origin: top left;

}