 /* OBJECT PAGES */
.object header {
  position:absolute;
  top: 10px;
  width: 100%;
  text-align:center;
  background-color: rgba(255,255,255,0.9);
  left:0;
}
.objectlink {
  position:absolute;
  top:0; right:0;
  color: white;
  background-color: #000;
  padding: 3px 5px;
  border: none;
}
.slide.object {padding:0;}
.object object {width: 100%; height: 100%;}
