 .bug,.plane, .plane:after {
	position:relative;
	font-size: 100px;
 	color:#C7573A;
  	display:block;
	height: 140px;
	width: 140px;
	border-radius: 7px;
	line-height: 140px;
	box-shadow: 5px 5px 0 5px rgba(0,0,0,0.2);
	background-color: #fff;
	margin:10px auto;
	text-align:center;
	font-size: 140px;
}
.plane:after {
	content:'✈';
	position:absolute; top: 0; left:0;
	box-shadow: 5px 5px 0 5px #BDD9D5;
	opacity: 0.9;
	margin: 0;
	pointer-events: none;
}
.plane_01:after {
   transform:
     translate(-90px,300px) rotate(50deg) scale(.7,.9) skew(5deg);
}

.plane_02:after {
   transform:
     translate(100px, 100px);
}

.plane_03:after {
   transform:
     rotate(90deg);
  content: 'QB';
  background: palegoldenrod;
}

.plane_04:after {
   transform:
     scale(0.25, 0.75);
}
.plane_05,
.plane_05:after {
   border-radius: 0;
   border: 1px solid #666;
}
.plane_05:after {
   transform:
     skewX(15deg);
}

.plane_06:after {
   transform:
     translate(-90px,300px) rotate(50deg) scale(.7,.9) skew(5deg);
}

.plane_07:after {
   transform: none;
}

.plane_08:after {
   transform:
     translate(-90px,300px) rotate(50deg) scale(.7,.9) skew(5deg);
}

.plane_09:after {
   transform:
     translate(-90px,300px) rotate(50deg) scale(.7,.9) skew(5deg);
}

.plane_10:after {
   transform:
     translate(-90px,300px) rotate(50deg) scale(.7,.9) skew(5deg);
}
section {padding-top: 20px;}
.x {width: 75%; float:right; margin:0; position:relative;}
.y {float: left; line-height:1.62em;}
#ABTrasform li {float: left; clear:both; list-style-type:none; width:100%;}
 </style>
  <style id="tempstyle"></style>

  <style id="forBackfaceVisibility">
  .backfacedemo{
            perspective: 1000;
}

#backfacecube {
  margin: 2rem 0 0 30%;
  width: 100%;
  height: 100%;
          transform-style: preserve-3d;
}



#backfacecube figure{
  display: block;
  position: absolute;
  width: 196px;
  height: 196px;
  border: 1px solid #333;
  line-height: 196px;
  font-size: 120px;
  font-weight: bold;
  color: white;
  text-align: center;

}

.cube figure{

         backface-visibility: hidden;

}

#backfacecube .front{background: hsla(248, 100%, 50%, .5);}
#backfacecube .back{background: hsla(315, 100%, 40%, .5);}
#backfacecube .right{background: hsla( 48, 100%, 50%, .5);}
#backfacecube .left{background: hsla(125, 100%, 40%, .5);}
#backfacecube .top{background: hsla( 24, 100%, 50%, .5);}
#backfacecube .bottom{background: hsla(187,  87%, 50%, .5);}

#backfacecube .front {
          transform: rotateY(   0deg ) translateZ( 100px );
}

#backfacecube .back {
          transform: rotateX( 180deg ) translateZ( 100px );
}

#backfacecube .right {
          transform: rotateY(  90deg ) translateZ( 100px );
}

#backfacecube .left {
          transform: rotateY( -90deg ) translateZ( 100px );
}

#backfacecube .top {
          transform: rotateX(  90deg ) translateZ( 100px );
}

#backfacecube .bottom {
          transform: rotateX( -90deg ) translateZ( 100px );
}




.backfacedemo {
perspective-origin: 50% -100px;
perspective: 500px;
}
.backfacedemo {
perspective: 1000;
}
