@charset "UTF-8";
/* CSS Document
rebeccapurple: C7573A
blue: BDD9D5;
*/
div, li, a, p, pre {
	background-repeat: no-repeat;
}
[contenteditable] {-webkit-user-modify: read-write-plaintext-only;}
body {
  font-size: 20px;
  font-family: Lato, Tahoma, Geneva, sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px; top: 0px;
  background-color: palegoldenrod;
}
.figure .content,
.figure figure,
.slide.figure {padding: 0;}
figure > :not(figcaption) {
text-align: left; width: 100%; height: 90vh;
box-sizing: border-box;
border: none;
}
figure {margin: 0;}
#info {
  font-size: small;
  position: absolute;
  bottom: 0px;
  left: 40%;
  z-index: 500;
}

#topinfo {
  font-size: small;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 500;
}

.key {
  color: black;
  display: inline-block;
  padding: 3px 3px 3px 3px;
  text-shadow: none;
  letter-spacing: 0;
  position: relative;
  background: white;
}

#next, #back {z-index: 1000; position: absolute; top:0; left:0; list-style-type:none;}
#next {left:auto; right: 0;}
#presentation {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  display: block;
  overflow: hidden;
}

.slides {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
 transition: transform 1s ease-in-out;

  /* so it's visible in the iframe. */
 transform: scale(0.8);
}

.slide {
  position: absolute;
  overflow: hidden;
  width: 900px;
  height: 700px;
  left: 50%;
  top: 50%;
  margin-top: -350px;
  background-color: #f3f3f8;
  transition: all 0.25s ease-in-out;
  transform: scale(1);
  padding-left: 20px;
  padding-top: 10px;
  border: 1px solid rebeccapurple;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  background-clip: border-box;
}
.button {
	background-color: rebeccapurple;
	color: palegoldenrod;
	border: 1px solid;
	padding: 3px 15px;
	margin: 5px;
	border-radius: 5px;
	box-shadow: 3px 3px 3px rgba(205, 92, 99, 0.5);
}

.slide.divider, .slide.intro {
  text-align: center;
  font-size: 200%;
  color: rebeccapurple;
  background: linear-gradient(to top,palegoldenrod, 90%, rebeccapurple);

}

.slide.divider h1, .slide.intro h1 {
	background: rgba(238, 232, 157, 0.75);
	margin-top: calc(50vh - 100px);
	border-bottom: 1px solid;
}

.slide.intro hgroup {
  margin-top: 200px;
}

.content {
  font-size: 140%;
}

.content input, button {
  font-size: 140%;
}

.content td {
   border: 1px solid black;
}

.invalid {
  background-color: red;
}

.slide.section,.slide.intro {
  text-align: center;
}

.slide.section,.slide.intro header {
  font-size: 200%;
}

.slide li {
  margin-bottom: 10px;
}

.slide img {
  max-height: 90%;
  text-align: center;
}


.slide .counter {
  color: #999999;
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: block;
  font-size: 70%;
}

.slide.title > .counter,
.slide.segue > .counter,
.slide.mainTitle > .counter {
  display: none;
}

.force-render {
  display: block;
  visibility: hidden;
}
.slide,
.slide.far-past {
  display: block;
  margin-left: -2400px;
}

.slide.past {
  visibility: visible;
  display: block;
  margin-left: -1400px;
}

.slide.current {
  visibility: visible;
  display: block;
  margin-left: -450px;
}

.slide.future {
  visibility: visible;
  display: block;
  margin-left: 500px;
}

.slide.far-future {
  display: block;
  margin-left: 1500px;
}

body.three-d div.slides {
transform: translateX(50px) scale(0.8) rotateY(10deg);
}

/* Content */
header {
  font-weight: normal;
  letter-spacing: -.05em;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  left: 30px;
  top: 25px;
  font-size: 140%;
}

h1 {
  font-size: 140%;
  margin-bottom: 0px;
  color: rebeccapurple;
  text-align:center;
}
header h1 {
	background-color: palegoldenrod; margin-left: -20px;
}

h2 {
  font-size: 90%;
}

h1:first-child {
  margin-top: 0;
}

section, footer {
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  margin: 20px 30px 0;
  display: block;
  overflow: hidden;
}

footer {
  font-size: 100%;
  margin: 20px 0 0 30px;
}

a {
  color: rebeccapurple;
  display: inline-block;
  text-decoration: none;
  line-height: 110%;
  border-bottom: 2px dotted rebeccapurple;
}

pre, .ex, .pre, .codelike {
  text-align: left;
  font-size: 80%;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  border: 1px solid #fff;
}
	.ex.right {
		float: right;
		width: 200px;
	}
	.pre li{
		font-family: monospace;
		font-size: 130%;
		list-style-type: none;
	}
	.preintro pre {
		font-size: 1.5em;
		margin: 30px 20px 0 0;
		line-height: 1.5;
	}

pre b, .pre b, .imp {
  font-weight: normal;
  color: rebeccapurple;
  text-shadow: palegoldenrod 0 0 1px;
  /*letter-spacing: -1px;*/
}

.invert {
  float: left;
  padding: 5px 10px;
  border-radius: 5px;
  color: rebeccapurple;
  background: palegoldenrod;
}

pre em {
  font-weight: normal;
  font-style: normal;
  color: rebeccapurple;
  text-shadow: rgba(0,0,0,0.3) 1px 1px 2px;
  font-weight: bold;
}

div.example {
  display: block;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.4);
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#presentation-counter {
  color: #ccc;
  font-size: 70%;
  letter-spacing: 1px;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
}

div:not(.current).reduced {
  transform: scale(0.8);
}

.no-transitions {
  transition: none;
}

.no-gradients {
  background: none;
  background-color: #fff;
}
dt {
	font-weight: bold;
	margin-top: 0.5em;
	background-color: palegoldenrod;
	display:inline-block;
	margin-bottom: 2px;
	clear: both;
}
dd {
	font-weight: normal;
	margin: 0 0 2px 0;
}

dl.inline dt {
	width: 200px;
	float: left;
	text-align: right;
	padding-right: 15px;
	clear:both;
	margin: 0 0 2px 0;
}
dl.inline dd{
	font-style: italic;
}
.light section {
	font-size: 180%;
}

.new:not(li) {
	color: rebeccapurple; 
	background-color: #fff; 
	padding: 3px 8px;
}
ul.columns {
	column-count: 4;
	font-size: 80%;
	margin: 40px -40px 0;
}
.play h1 {
	 text-align:center;
	 margin-top:100px;
	 font-size: 2em;
}
.play {text-align: center;}
.columns2 {
	columns: 2 1em;
	column-rule: 1px solid rebeccapurple;
}
.object header {position:absolute; top: 10px; width: 100%; text-align:center; background-color: rgba(255,255,255,0.9); left:0;}
.objectlink {position:absolute;top:0; right:0;color: white; background-color: rebeccapurple; padding: 3px 5px; border: none;}
.slide.object {padding:0; overflow:scroll; }
.object object {width: 100%; height: 100%;}





.notes {display: none;}